<p>A senior engineer with 10 years commercial experience in full stack development focusing mainly on front side development.</p>

<h2>Skill Stack etc</h2>
<ul>
  <li>git</li>
  <li>JavaScript</li>
  <li>Linux</li>
  <li>MacOS</li>
  <li>Node</li>
  <li>Objective-C</li>
  <li>React</li>
  <li>Shell</li>
  <li>TypeScript</li>
  <li>Windows</li>
  <li>Java</li>
</ul>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/olileung">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/OliverLeung">Twitter</a>
  </li>
</ul>
